# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "864ce86f2ce07226d15c1f7f611fb0b9"
name = "Krosspost"
application_url = "https://instakrosspost.onrender.com"
embedded = true

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = [ "customers/data_request", "customers/redact", "shop/redact" ]
  uri = "/webhooks/shopify/customers/data_request"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customer_events,read_customers,write_draft_orders,read_draft_orders,read_inventory,read_orders,write_orders,read_products,customer_read_orders,customer_write_orders"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [ "https://instakrosspost.onrender.com/auth/shopify/callback" ]
