# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "f4a62acb06de414abab7be68376ffd4e"
name = "Krosspost"
application_url = "https://instakrosspost.onrender.com"
embedded = true

[access_scopes]
scopes = "read_customer_events,read_customers,write_draft_orders,read_draft_orders,read_inventory,read_orders,write_orders,read_products,customer_read_orders,customer_write_orders"
optional_scopes = []
use_legacy_install_flow = false

[auth]
redirect_urls = ["https://instakrosspost.onrender.com/auth/shopify/callback"]

[webhooks]
api_version = "2025-10"

# GDPR/Privacy Compliance Endpoints
customer_data_request_url = "https://instakrosspost.onrender.com/webhooks/shopify/customers/data_request"
customer_deletion_url = "https://instakrosspost.onrender.com/webhooks/shopify/customers/redact"
shop_deletion_url = "https://instakrosspost.onrender.com/webhooks/shopify/shop/redact"