# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "864ce86f2ce07226d15c1f7f611fb0b9"
name = "Krosspost"
application_url = "https://instakrosspost.onrender.com"
embedded = true

[webhooks]
api_version = "2025-10"

# GDPR/Privacy Compliance Endpoints
customer_data_request_url = "https://instakrosspost.onrender.com/webhooks/shopify/customers/data_request"
customer_deletion_url = "https://instakrosspost.onrender.com/webhooks/shopify/customers/redact"
shop_deletion_url = "https://instakrosspost.onrender.com/webhooks/shopify/shop/redact"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "customer_read_orders,customer_write_orders,read_customer_events,read_customers,read_draft_orders,read_inventory,read_orders,read_products,write_draft_orders,write_orders"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [ "https://instakrosspost.onrender.com/auth/shopify/callback" ]
